.modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	background-color: #0480be;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.search-box {
	position: relative;
	width: 100%;
}

.search-box .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
	left: 15px;
	top: 0px;
}

.search-box .glyphicon:before {
	color: white;
	transition: all 0.2s linear;
}

.search-box input {
	color: #fff;
	padding-left: 60px;
	background: #8f9ca2;
	border: 0;
	outline: none !important;
	transition: all 0.2s linear;
}

.search-box input:focus {
	background: #fff !important;
	outline: 0;
	color: #333;
}

.search-box input:focus+.glyphicon:before {
	color: #333;
}

.search-box input:hover {
	background: #78909c;
}

.navbar-form { /* para inputs dentro de navbar */
	/*         padding: 10px 15px;
        margin-top: 1px;
        margin-right: 0px;
        margin-bottom: 15px; */
	/*    margin-left: -15px; 
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1); */
	
}

@media screen and (min-width: 768px) {
	.custom-class {
		width: 70%; /* either % (e.g. 60%) or px (400px) */
	}
	/*      .navbar-inverse .navbar-collapse, .navbar-inverse {
        border-color: rgba(3,3,3,0);
        margin-top: 10;
        padding-top: 20px; 
    }     */
	.ui-autocomplete {
		z-index: 2000 !important;
	} /* para visualizar las opciones de autocomplete sobre navbar fixed */

	/*     .navbar-form { para inputs dentro de navbar
        padding: 10px 15px;
        margin-top: 1px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: -15px; 
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
    } */
}

/* Center the loader */
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}